<mat-toolbar class="toolbar">

    <div class="brand">

        <img src="/assets/images/logo.png">
        
        <span>

            Gestion de Stock Biomédical

        </span>

    </div>

    <span class="spacer"></span>

    <button mat-icon-button>

        <mat-icon>search</mat-icon>

    </button>

    <button mat-icon-button>

        <mat-icon>notifications</mat-icon>

    </button>

    <button mat-icon-button>

        <mat-icon>account_circle</mat-icon>

    </button>

</mat-toolbar>